@model TestBank.Models.SavingAccountTxnHistory

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SavingAccountTxnHistory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TxnDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TxnDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SourceType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SourceType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SavingAccountDetail.SavingAccType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SavingAccountDetail.SavingAccType)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
