@model IEnumerable<TestBank.Models.SavingAccountTxnHistory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TxnDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SourceType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SavingAccountDetail.SavingAccType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.AccNum)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TxnDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Balance)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SourceType)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TransType)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Amount)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SavingAccountDetail.SavingAccType)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.TxnID }) |
        @Html.ActionLink("Details", "Details", new { id = item.TxnID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.TxnID })
    </td>
</tr>
}

</table>
